# Python
dist/
build/
__pycache__/
*.pyc
*.egg-info/

# VSCode
.vscode/

# local development files
.local/*
!.local/mlruns/
.local/mlruns/*
!.local/mlruns/.gitkeep

# Local installs of uv packages
uv.toml
